<a href="https://colab.research.google.com/github/Kimchiiii/DW/blob/master/lab10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDAS
####แพนดาสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสสส

import บอกมันว่ามันชื่อ pd นะ

In [0]:
import pandas as pd

เรียกเปิดไฟล์

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/Kimchiiii/DW/master/titanics.txt',delimiter="\t")
df

      Age Passenger Class  ... Passenger Fare  Survived
0    29.0           First  ...          211.3       Yes
1     2.0           First  ...          151.6        No
2    30.0           First  ...          151.6        No
3    25.0           First  ...          151.6        No
4    48.0           First  ...           26.6       Yes
..    ...             ...  ...            ...       ...
911  29.9           Third  ...            7.2        No
912  29.9           Third  ...           14.5        No
913  14.5           Third  ...           14.5        No
914  26.5           Third  ...            7.2        No
915  27.0           Third  ...            7.2        No

[916 rows x 7 columns]