<a href="https://colab.research.google.com/github/Kimchiiii/DW/blob/master/ttr1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello pyton 
## hello pyton
### hello pyton
#### hello pyton
##### hello pyton
###### hello pyton

In [0]:
print("hello world")

hello world

#declare varible
How to declare varible in pyton

In [0]:
score = 100
name = "Napar"
print(" name is " + name +  " score is " + str(score))

 name is Napar score is 100

In [0]:
a = 2
b = 3
c = a * b
print(c)

6

#LIST

## How to use List in pyton

In [0]:
mylist = []
mylist.append("Napar")
mylist.append(200)
mylist

['Napar', 200]

## How to count List

In [0]:
len(mylist)

2

# If else pyton
Hoe to use if else in pyton

In [0]:
if mylist[1] > 100 :
  print("pass")

pass

In [0]:
if mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name +" "+ str(score) )

Napar 200

Else if = elif

In [0]:
if mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name +" "+ str(score) )
elif mylist[1] > 200 :
  print("pass")
else:
  print("pass ja")

Napar 200

In [0]:
score = 50
if score > 80 :
  print("A")
elif score > 70 :
  print("B")
elif score > 60 : 
  print("C")
else:
  print("D")
if score == 0:
    print("F")

D

#FOR Loop in pyton
How to use for loop

In [0]:
summ = 0
for i in range(0,10):
  print(str(i))
  summ = summ+1
print("result = "+ str(summ))

0
1
2
3
4
5
6
7
8
9
result = 10

In [0]:
summ = []
for i in range(0,10):
  summ.append(i)
sum(summ)

45

i แรก เอา เข้า array 

loop 2 แสดงทีละตัว

In [24]:
summ = []
for i in range(0,10):
  summ.append(i)

for i in summ:
  print(str(i))

0
1
2
3
4
5
6
7
8
9

# For each Loop

In [26]:

for i in summ:
  print(str(i))

0
1
2
3
4
5
6
7
8
9

#testtest

In [0]:
a = 10 
b = 20
c = 30